body{
  background: #F2F2F2;
}

/* * Formulario */
form{
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

form input, textarea{
  margin-bottom: 15px;
}

form input[type="button"] {
  margin-right: 10px;
  color: #FFFFFF;
  padding: 8px 24px;
  border-radius: 7px;
  border: 0px
}

/* * Tabela */
table{
  width: 500px;
}

/* * Botões */
button {
  color: #ffffff;
  padding: 7px 24px;
  border-radius: 7px;
  border: 0px
}

form input[value="Editar"],[value="Cadastrar"] {
  background-color: #009DFF;
}

form input[value="Editar"]:hover,[value="Cadastrar"]:hover {
  background-color: #0080ff;
}

form input[value="Excluir"] {
  background-color: #FF4444;
}

form input[value="Excluir"]:hover {
  background-color: #ff0000;
}

form input[value="Cancelar"] {
  background-color: #7b7b7b;
}

form input[value="Cancelar"]:hover  {
  background-color: #4f4f4f;
}

button[value="Selecionar"] {
  background-color: #31F787;
}

button[value="Selecionar"]:hover {
  background-color: #2ac269;
}



